# Ignore Python junk
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
.env/

# Ignore installed packages if accidentally there
*.whl

# Ignore data or model files if not needed
*.pkl
*.csv
